*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 14px; /* 1rem */
}
body{
    background: rgb(187, 187, 144);
    font-family: Arial, Helvetica, sans-serif
}
.container{
    margin: 0 auto;
    max-width: 900px;
    background: white;


}
.fejlec{
    background: url(../img/logo.jpg);
    height: 200px;

    
}
h1{
    font-size: 3.5rem;
    padding-left: 200px;
    color: white;
    text-transform: uppercase;

}
ul{
    list-style: none;

}
ul::after {
    content: "";
    clear: both;
    display: table;
  }
li{
    float: left;
    width: 12.5%;
    text-align: center;
    background-color: rgb(218, 94, 49);
    border: 0.2px solid white;
    padding: 5px;
}
.lablec{
    background: rgb(197, 181, 36);
    text-align: center;
    color: rgb(218, 94, 49);
    font-size: 0.8rem;
    margin-bottom: 1000px;
}
a{
    padding: 5px 0;
    width: 100%;
    display: inline-block;
    color: rgb(136, 91, 25);
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
h2{
    background: rgb(187, 187, 144);
    color: white;
    padding: 2px; 
    margin: 15px 0;   
}
.kep1{
    float: left;
    margin: 10px 10px 0 0;
}
.kep2{
    float: right;
    margin: 0 0 0 10px;
}
.hasab{
    float: left;
    max-width: 50%;
    padding: 20px;
    text-align: justify;
}
.content::after {
    content: "";
    clear: both;
    display: table;
}
.bal{
    padding-right: 10px;
}
.jobb{
    padding-left: 10px;
}
.header{
    position: sticky;
    top: 0;
}
